[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/i857831
[access "refs/for/refs/*"]
	read = group user/i857831
	push = group user/i857831
	label-Code-Review = -2..+2 group user/i857831
	label-Verified = -1..+1 group user/i857831
	rebase = group user/i857831
	removeReviewer = group user/i857831
	submit = group user/i857831
[access "refs/heads/*"]
	read = group user/i857831
	create = group user/i857831
	push = +force group user/i857831
	pushMerge = group user/i857831
[access "refs/tags/*"]
	push = group user/i857831
	push = +force group user/i857831
